@import './variables.scss';

.comments {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.comment-form {
  width: 100%;
}

.comments-container {
  background-color: rgb(238, 238, 238);
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment-temp {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid rgb(208, 208, 208);
  border-radius: 10px;
  padding: 10px 15px;
  transition: all 0.3s ease;

  .comment-header {
    @include flexCenter(row);
    justify-content: space-between;
    margin-bottom: 2px;
    .comment-user-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    display: flex;
    align-items: center;
    gap: 6px;
    p {
      font-size: 15px;
      margin: 0;
      font-weight: 600;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 25px;
    }
  }

  p {
    margin: 15px 0;
    font-size: 15px;
    font-weight: 600;
  }

  &:hover {
    background-color: rgb(222, 222, 222);
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
