@import './variables.scss';
header {
  @include flexCenter(row);
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  padding: 10px 0;
  width: 100%;
  gap: 15px;
  .left-header {
    @include flexCenter(row);
    justify-content: space-between;

    img {
      @include hoverTransition;
      max-width: 100px;
      cursor: pointer;
      margin-right: 10px;
      &:hover {
        opacity: 0.7;
      }
    }

    .header-left-buttons {
      @include flexCenter(row);
      gap: 15px;
      margin-left: 25px;
      button {
        width: 35px;
        height: 35px;
        @include flexCenter(row);
        @include buttonStyle;
        cursor: pointer;
        border-radius: 10px;
        @include hoverTransition;

        img {
          width: 27px;
          height: 27px;
        }

        &:hover {
          background-color: rgb(235, 235, 235);
          opacity: 0.5;
        }
      }
    }
  }

  input {
    padding: 8px 10px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    @include hoverTransition;
    width: 20%;
    &:hover {
      border-color: blue;
    }
    &:focus {
      border-color: red;
    }
  }

  .right-header {
    @include hoverTransition;
    position: relative;
    button {
      @include buttonStyle;
      cursor: pointer;
      img {
        border-radius: 15px;
        width: 27px;
      }
    }
    .profile-pic-header-container {
      .login-button {
        font-weight: 700;
        background-color: red;
        color: white;
        border: none;
        padding: 8px 15px;
        &:hover {
          background-color: none;
        }
        border-radius: 20px;
      }
    }
  }
}
