@import './variables.scss';

.homepage-container {
  display: inline-block;
  width: 600px;
  margin-top: 70px;
}

@media (max-width: 600px) {
  .homepage-container {
    width: fit-content;
  }
}
